#form{
    display: block;
    width: 500px;
    height: 380px;
    margin: 150px auto;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.5);
}

#errorMessage{
    width: 240px;
    margin: 0 auto;
    padding-top: 5px;
    color: #a5132b;
    font-weight: bold;
}

