body{
    padding: 0;
    margin: 0;
    color: #444;
    font-family: Verdana, sans-serif;
}

#header{
    height: 170px;
    background-color: #fff;
    text-align: center;
    font-size: 100px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    text-shadow: 0 4px 2px #959595;
    padding-top: 30px;
}

#menu{
    display: block;
    float: left;
    width: 250px;
    height: 100%;
    padding-top: 10px;
}

    button{
        background-color: #fdfdfd;
        outline: none;
        border: none;
        width: 100%;
        height: 60px;
        box-shadow: 4px 0 3px rgba(0,0,0, 0.2);
        margin-top: 2px;
        font-weight: bold;
    }

    .ico{
        display: inline-block;
        float: right;
        height: 50px;
    }

    .activeButton{
        background-color: #fff;
        border-right: none;
        box-shadow: -4px 0 3px rgba(0,0,0, 0.2);
    }

form{
    display: block;
}

.form{
    display: none;
    float: left;
    padding: 10px 50px;
}

    .up, .down{
        display: block;
        height: 100px;
    }

.inputBlock{
    display: inline-block;
    margin: 20px 40px;
}

    label{
        font-size: 20px;
        font-weight: bold;
    }

    .textinput{
        width: 300px;
        height: 30px;
        margin: 10px 0;
        font-size: 17px;
        border: 1px solid #b5b5b5;
        border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0,0,0, 0.3);
        background-color: #fff;
    }

    input.radio{
    }

    .submitButton{
        display: block;
        width: 150px;
        height: 60px;
        border: none;
        outline: none;
        box-shadow: 0 2px 2px rgba(0,0,0, 0.6);
        margin: 10px auto;
        background-color: deepskyblue;
        color: #ffffff;
    }

        .submitButton:hover{
            background-color: #00abe5;
        }

        .submitButton:active{
            background-color: #009ad1;
            box-shadow: 0 1px 1px rgba(0,0,0, 0.6);
        }